<h6>Total Friends: {{model.length}}</h6>

<ul class="list-group">
  {{#each model as |friend|}}
    <li class="list-group-item">
      {{link-to friend.fullName 'friends.show' friend}}
    </li>
  {{/each}}
</ul>

{{link-to  'Create Friend' 'friends.new' class="btn btn-primary"}}
